# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Local database
*.db

# User uploaded images
static/uploads/*

# Keep default profile image
!static/uploads/default_profile.jpg

# Environment variables
.env

# VS Code settings
.vscode/

# Local libraries
fpdf/