# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Ignore databases except production database
*.db
!students.db

# Uploaded files
static/uploads/*
!static/uploads/default_profile.jpg

# Environment variables
.env

# VS Code settings
.vscode/

# Local library folders
fpdf/